@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/400-italic.css"; 

*{
  font-family: "Inter";
}

.textColor1 {
    color : #0C0332
}
.textColor2 {
    color : #818181
}
.textColor3 {
    color : #2F88FF                                             
}
.textColor4 {
    color : #0A0332                                             
}
.textColor5 {
    color : #969696                                             
}
textColor6 {
    color : #463E3E                                             
}

.gradient1 {

    background: linear-gradient(50deg, #D3D2FF 0%, #FFFBFB 42%, #FCFFFF 62%, #D9FFFC 100%  );
}
.gradient2 {

    background: linear-gradient(300deg, #E3E5FF 0%, #F3FFF4 48%, #FFFFFF 78%, #DEFFFC 100%  );
}
.gradient3 {

    background: linear-gradient(90deg, #E3E5FF 0%, #F3FFF4 48%, #FFFFFF 78%, #DEFFFC 100%  );
}