@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/400-italic.css"; 

*{
  font-family: "Inter";
}
.textColor1 {
    color : #0C0332
}
.textColor2 {
    color : #818181
}
.textColor3 {
    color : #2F88FF                                             
}
.textColor4 {
    color : #0A0332                                             
}
.textColor5 {
    color : #969696                                             
}
.textColor6 {
    color : #7A7B7B                                             
}

.backgroundColor1 {
    background-color: #f7fcff;
}

.gradient1 {

    background: linear-gradient(50deg, #D3D2FF 0%, #FFFBFB 42%, #FCFFFF 62%, #D9FFFC 100%  );
}
.gradient2 {

    background: linear-gradient(300deg, #E3E5FF 0%, #F3FFF4 48%, #FFFFFF 78%, #DEFFFC 100%  );
}
.gradient3 {

    background: linear-gradient(90deg, #E3E5FF 0%, #F3FFF4 48%, #FFFFFF 78%, #DEFFFC 100%  );
}
.gradient4 {

    background: linear-gradient(120deg, #9d81f998 0%, #ff949436 39%, #b4f9bd5e 64%, #00f0ec60 100%  );
}
.gradient5 {

    background: linear-gradient(120deg, #CDFFFB 0%, #FFEDED 39%, #E5FEE9 64%, #D8DAFE 100%  );
}
.gradient6 {

    background: linear-gradient(50deg, #CBCEFF 0%, #FFE8E8 49%, #B7FFF9 100%  );
}
.gradient7 {

    background: linear-gradient(190deg, #5381FF 0%, #55148B 100%  );
}
.gradient8 {

    background: linear-gradient(50deg, #E3E5FF 0%, #FFFFFF 49%, #DEFFFC 100%  );
}